.border_span {
  height: 1px;
  width: 110px;
  background: #36b9eb;
  display: block;
  margin: 0 auto; }

.navbar-toggler-icon {
  color: #fff;
  font-size: 25px; }

header {
  background: url("../img/bg-header.jpg") no-repeat 0 center;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 650px; }
  header .navbar-brand {
    color: #fff;
    text-transform: uppercase; }
  header .nav-link {
    color: #fff; }
    header .nav-link:hover {
      color: #ee2f1b; }
  header .article {
    margin-top: 175px; }
    header .article h1 {
      color: #fff;
      text-align: center;
      font: 600 50px/1 Montserrat, sans-serif;
      text-transform: uppercase;
      margin-bottom: 50px; }
    header .article p {
      text-align: center;
      font: thiner 20px/1 Montserrat, sans-serif;
      color: #ccc;
      margin-top: 60px; }

.services {
  padding: 100px 0; }
  .services h2 {
    text-align: center;
    text-transform: uppercase;
    font: 700 40px/1 Montserrat, sans-serif;
    margin-bottom: 40px; }
  .services img {
    margin: 80px 0 40px; }
  .services h3 {
    font: 600 25px/1 Montserrat, sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .services p {
    color: #888;
    font-family: Montserrat, sans-serif; }

.expertise .customize-col {
  padding: 100px 15px 90px; }

.expertise h3 {
  font: 700 40px/1 Montserrat, sans-serif;
  text-transform: uppercase; }

.expertise p {
  color: #777;
  font: 400 16px/1 Montserrat, sans-serif; }

.expertise .expertise-p {
  margin: 40px 0 60px; }

.expertise .heading-p {
  color: #000;
  text-transform: uppercase;
  font: 600 16px/1 Montserrat, sans-serif; }

.expertise .description-p {
  margin-bottom: 35px; }

.expertise .btn-more {
  background: #fff;
  font: 600 16px/1 Montserrat, sans-serif;
  width: 165px;
  height: 60px;
  border: 1px solid #ceeefa;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  text-transform: uppercase; }
  .expertise .btn-more:hover {
    background: #EEEEEE; }

.expertise .bg-image {
  background: url("../img/expertise.jpg") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 615px; }

.portfolio {
  padding: 100px 0; }
  .portfolio h3 {
    text-transform: uppercase;
    font: bold 40px/1 Montserrat, sans-serif;
    margin-bottom: 55px; }
  .portfolio p {
    color: #777; }
  .portfolio .heading {
    font: 600 16px/1 Montserrat, sans-serif;
    text-transform: uppercase;
    color: #222; }
  .portfolio .bg-ipad {
    background: url("../img/ipad.png") no-repeat center left;
    min-height: 600px; }

.team-info {
  padding: 100px 0;
  background: #f7f7f7; }
  .team-info h4 {
    text-align: center;
    font: 600 40px/1 Montserrat, sans-serif;
    margin-bottom: 35px;
    text-transform: uppercase; }
  .team-info .profile {
    margin-top: 80px;
    margin-bottom: 70px; }
    .team-info .profile img {
      -webkit-border-radius: 200px;
              border-radius: 200px;
      width: 200px;
      height: 180px; }
    .team-info .profile .name {
      font: 700 16px/1 Montserrat, sans-serif;
      margin: 30px 0 15px; }
    .team-info .profile .job {
      font: 400 14px/1 Montserrat, sans-serif;
      color: #777;
      margin-bottom: 15px; }
    .team-info .profile a {
      display: block;
      width: 40px;
      height: 40px;
      background: #000;
      -webkit-border-radius: 100%;
              border-radius: 100%; }
    .team-info .profile .twiter {
      background: #000 url("../img/twiter.png") no-repeat center center; }
    .team-info .profile .facebook {
      background: #000 url("../img/facebook.png") no-repeat center center; }
    .team-info .profile .pinterest {
      background: #000 url("../img/pinterest.png") no-repeat center center; }

footer {
  padding: 80px 0 10px;
  background: #111;
  color: #fff; }
  footer h4 {
    text-transform: uppercase;
    font-size: 40px; }
  footer form {
    margin-bottom: 65px; }
    footer form input, footer form textarea {
      width: 100%;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 1px solid #999;
      padding: 20px;
      margin: 20px 0;
      color: #999; }
    footer form input[name="name"] {
      height: 55px; }
    footer form input[name="email"] {
      height: 50px; }
    footer form textarea {
      height: 165px;
      resize: none; }
    footer form .btn-footer {
      background: #35c2f8;
      width: 185px;
      text-align: center;
      border: none;
      padding: 20px 0;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      color: #fff;
      outline: none;
      font-weight: bold; }
      footer form .btn-footer:hover {
        background: #089fd9; }
  footer .border-bottom {
    border-bottom: 1px solid #fff; }
  footer .copyright {
    text-align: center;
    margin-top: 35px; }

@media (max-width: 700px) {
  header {
    min-height: 550px; }
    header .article {
      margin-top: 120px; }
  .services {
    padding: 70px 0; }
  .expertise .customize-col {
    padding: 70px 15px 60px; }
  .expertise button {
    margin-left: 20px; }
  .portfolio {
    padding: 70px 0; }
  .team-info {
    padding: 70px 0; }
    .team-info .profile {
      margin-top: 30px;
      margin-bottom: 30px; } }
