@font-face {
    font-family: OpenSans;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/OpenSans-Light/OpenSans-Light.eot);
    src: url(../fonts/OpenSans-Light/OpenSans-Light.eot?iefix) format('eot'), url(../fonts/OpenSans-Light/OpenSans-Light.woff) format('woff'), url(../fonts/OpenSans-Light/OpenSans-Light.ttf) format('truetype')
}

@font-face {
    font-family: OpenSans;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot);
    src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot?iefix) format('eot'), url(../fonts/OpenSans-Regular/OpenSans-Regular.woff) format('woff'), url(../fonts/OpenSans-Regular/OpenSans-Regular.ttf) format('truetype')
}

@font-face {
    font-family: OpenSans;
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot);
    src: url(../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot?iefix) format('eot'), url(../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff) format('woff'), url(../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf) format('truetype')
}

@font-face {
    font-family: 'Poiret One';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/PoiretOne-Regular/PoiretOne-Regular.eot);
    src: url(../fonts/PoiretOne-Regular/PoiretOne-Regular.eot?iefix) format('eot'), url(../fonts/PoiretOne-Regular/PoiretOne-Regular.woff) format('woff'), url(../fonts/PoiretOne-Regular/PoiretOne-Regular.ttf) format('truetype')
}

body {
    font-family: 'Open Sans', sans-serif
}

.mt {
    margin-top: 20px
}

.navbar-toggler {
    border: 2px solid #00bce4;
    background: rgba(255, 255, 255, .26)
}

.navbar-toggler .navbar-toggler-icon {
    line-height: 1.5em
}

ul.social-btn a {
    font-size: 15px;
    line-height: 31px;
    display: block;
    display: block;
    width: 33px;
    height: 33px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
    text-align: center;
    border: 1px solid #00bce4;
    -webkit-border-radius: 50px;
    border-radius: 50px
}

ul.social-btn a.facebook:hover {
    color: #fff;
    border: 1px solid #3b5998;
    background: #3b5998
}

ul.social-btn a.instagram:hover {
    color: #fff;
    border: 1px solid #b63bd1;
    background: #b63bd1
}

.contacts .adress p {
    font-size: 15px;
    line-height: 33px;
    display: inline-block;
    margin-right: 1.5em;
    letter-spacing: 1px;
    color: #777
}

.contacts .adress i {
    font-size: 20px;
    margin-right: .6em;
    color: #B45B47;
    text-shadow: 2px 1px 1px #b3b3b3;
}

.banner-top .navbar {
    position: absolute;
    z-index: 9;
    width: 100%;
    border-bottom: 2px solid #D7586A;
    background-color: rgba(56, 56, 56, .76)!important
}

.banner-top .navbar ul {
    margin: 0
}

.banner-top .navbar ul a {
    font-size: 15px;
    font-weight: 500;
    margin: 0 .5em;
    padding: 8px 25px;
    letter-spacing: 1px;
    color: #fff;
    border: 2px solid transparent;
    text-shadow: 1px 1px 2px #000
}

.banner-top .navbar ul a:hover {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, .67);
    -webkit-border-radius: 0;
    border-radius: 0;
    text-shadow: 1px 1px 2px #000
}

.banner-top .slider-top div.b1 {
    min-height: 725px;
    background: url(../img/f1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover
}

.banner-top .slider-top div.b2 {
    min-height: 725px;
    background: url(../img/f2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover
}

.banner-top .slider-top div.b3 {
    min-height: 725px;
    background: url(../img/f3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover
}

.banner-top .carousel-caption {
    top: 39%;
    text-align: right
}

.banner-top .carousel-caption h5 {
    font-family: 'Poiret One', cursive;
    font-size: 6em;
    font-weight: 600;
    letter-spacing: 5px;
    color: #fff;
    text-shadow: 3px 3px 11px #000
}

.banner-top .carousel-caption p {
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    padding: .5rem 1rem;
    letter-spacing: 4px;
    color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: rgba(215, 88, 106, 0.74);
    -webkit-box-shadow: 3px 3px 17px rgba(0, 0, 0, .34);
    box-shadow: 3px 3px 17px rgba(0, 0, 0, .34);
    text-shadow: 2px 2px 3px #3a3a3a
}

.info-about {
    padding: 3rem 0
}

.info-about h5 {
    font-family: 'Poiret One', cursive;
    font-size: 3.8em;
    font-weight: 600;
    text-align: left;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000
}

.info-about h3 {
    font-family: 'Poiret One', cursive;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px;
    color: #376C7E;
}

.info-about p {
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 1px;
    color: #777
}

.info-about img {
    display: block;
    width: 100px;
    padding: 6px;
    background: #cacaca
}

.info-about .carousel-indicators {
    bottom: -15px;
    left: 1px;
    margin: 0
}

.info-about .carousel-indicators li {
    display: block;
    width: 13px;
    height: 13px;
    cursor: pointer;
    text-align: center;
    text-indent: -9999px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: 0 0;
    background: #D7586A;
    -webkit-box-shadow: 2px 2px 5px #313131;
    box-shadow: 2px 2px 5px #313131
}

.info-about .carousel-indicators li.active {
    cursor: default;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
    background: #BC7E71;
}

.info-about .name {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem!important;
    margin-bottom: .25rem!important;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #AC4754;
}

.info-about .info-img {
    width: 85%;
    min-height: 138px;
    background-position: center!important;
    -webkit-background-size: cover!important;
    background-size: cover!important;
    -webkit-box-shadow: 2px 2px 14px #b5b4b4;
    box-shadow: 2px 2px 14px #b5b4b4
}

.info-about .ab1 {
    margin-top: 30px;
    background: url(../img/f1.jpg) no-repeat 0 0
}

.info-about .ab2 {
    margin: 2rem auto;
    background: url(../img/f2.jpg) no-repeat 0 0
}

.info-about .ab3 {
    background: url(../img/f3.jpg) no-repeat 0 0
}

.services {
    padding: 5rem 0;
    background: url(../img/services.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
    background-size: cover
}

.services h5 {
    font-family: 'Poiret One', cursive;
    font-size: 3.8em;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000
}

.services p {
    font-size: 15px;
    line-height: 33px;
    margin-bottom: 60px;
    letter-spacing: 1px;
    color: #777
}

.services .services-block {
    padding: 1.5rem;
    background: rgba(145, 165, 170, 0.6);
    -webkit-box-shadow: 3px 3px 17px rgba(0, 0, 0, .14);
    box-shadow: 3px 3px 17px rgba(0, 0, 0, .14)
}

.services .services-block:hover {
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 9px 13px rgba(0, 0, 0, .25);
    box-shadow: 0 9px 13px rgba(0, 0, 0, .25)
}

.services .services-block .img-block {
    margin-bottom: 1rem
}

.services .services-block .img-block img {
    max-width: 100%;
    margin-bottom: 1rem
}

.services .services-block h3 {
    font-family: 'Poiret One', cursive;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px
}

.services .services-block p {
    font-size: 15px;
    line-height: 33px;
    margin: 0;
    letter-spacing: 1px;
    color: #fff
}

.services .services-block h6 {
    font-family: 'Poiret One', cursive;
    font-size: 1.6em;
    font-weight: 600;
    margin-top: .5rem;
    letter-spacing: 1px;
    color: #AC4754;
    text-shadow: 2px 2px 3px #676767
}

.services .services-block h6 span {
    font-size: 1.5em;
    margin-right: .5rem;
    color: #eee
}

.team {
    padding: 3rem 0
}

.team h5 {
    font-family: 'Poiret One', cursive;
    font-size: 3.8em;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: left;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000
}

.team p {
    font-size: 15px;
    line-height: 33px;
    padding: 0 1em;
    letter-spacing: 1px;
    color: #777
}

.team img {
    width: 100%;
    max-width: 100%
}

.team .team-info {
    padding: 1rem;
    border: 1px solid #03a7ca;
    background-color: rgba(0, 188, 228, .62)
}

.team .team-info h5 {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
    color: #fff
}

.team .team-info span {
    font-size: 14px;
    display: inline-block;
    margin: .25rem 0 .5rem;
    letter-spacing: 1px;
    color: #19a6c5
}

.promotion {
    padding: 3rem 0;
    background: url(../img/subscribe.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover
}

.promotion .promo-block {
    padding: 1rem;
    background: rgba(37, 37, 37, .32)
}

.promotion .promo-block h5 {
    font-family: 'Poiret One', cursive;
    font-size: 3.8em;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: left;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000;
    color: #fff
}

.promotion .promo-block h5 span {
    display: block;
    margin-bottom: 7px;
    color: #00bce4;
    text-shadow: 2px 2px 3px #efefef
}

.promotion .promo-block p {
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 1px;
    color: #fff
}

.pricing {
    padding: 4rem 0
}

.pricing h5 {
    font-family: 'Poiret One', cursive;
    font-size: 3.8em;
    font-weight: 600;
    text-align: left;
    letter-spacing: 2px;
    color: #000
}

.pricing .price-block {
    min-width: 0;
    margin-top: 20px;
    text-align: center;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .125);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    background-color: #fff;
    -webkit-background-clip: border-box;
    background-clip: border-box
}

.pricing .price-block .price-head {
    margin-bottom: 0;
    padding: .75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background: #BC7E71;
}

.pricing .price-block .price-head h4 {
    font-family: 'Poiret One', cursive;
    font-size: 1.7em;
    font-weight: 600;
    margin: 0;
    padding: 1.5rem 0;
    letter-spacing: .5px;
    color: #f7f7f7
}

.pricing .price-block .price-body {
    padding: 1.25rem
}

.pricing .price-block .price-body h5 {
    font-size: 2.8em;
    font-weight: 400;
    text-align: center;
    color: #000
}

.pricing .price-block .price-body h5 span {
    font-size: .5em;
    display: inline-block;
    color: #000
}

.pricing .price-block .price-body a.btn-contact {
    font-size: 16px;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: .5em 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    text-decoration: none;
    letter-spacing: 1px;
    color: #000;
    border: 1px solid #BC7E71;
    -webkit-border-radius: .25rem;
    border-radius: .25rem
}

.pricing .price-block .price-body a.btn-contact:hover {
    color: #fff;
    border-color: #B45B47;
    background-color: #B45B47;
}

.gallery h5 {
    font-family: 'Poiret One', cursive;
    font-size: 3.8em;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: left;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000
}

.gallery img {
    max-width: 100%
}

.feedback {
    padding: 4rem 0
}

.feedback h5 {
    font-family: 'Poiret One', cursive;
    font-size: 3.8em;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: left;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000
}

.feedback h3 {
    font-family: 'Poiret One', cursive;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px;
    color: #376C7E;
}

.feedback p {
    font-size: 15px;
    line-height: 33px;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    color: #777
}

.feedback p i {
    font-size: 25px;
    margin-right: 1rem;
    color: #AC4754;
    text-shadow: 2px 2px 4px #b3b3b3
}

.map-section {
    padding: 1em 1em .7em;
    background: #d6d5d5
}

.map-section iframe {
    width: 100%;
    height: 350px;
    border: none
}

footer {
    padding: 3rem 0;
    background: #191919
}

footer h2,
footer h3 {
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: .6em;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: #eee
}

footer p {
    font-size: 15px;
    line-height: 35px;
    letter-spacing: 1px;
    color: #bbb
}

footer ul {
    padding: 0;
    list-style: none
}

footer ul li {
    font-size: 15px;
    line-height: 28px;
    margin-right: 1.7em;
    list-style-type: none;
    letter-spacing: .7px;
    color: #bbb
}

footer ul li a {
    font-weight: 100;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    text-decoration: none!important;
    letter-spacing: 1px;
    color: #fff
}

footer ul li a:hover {
    font-weight: 500;
    color: #00bce4
}

@media (max-width:1000px) {
    .contacts {
        padding: .5em 0;
        text-align: center
    }
    .contacts .adress p {
        margin: 0
    }
}

@media (max-width:768px) {
    .mtr {
        margin-top: 20px
    }
    .order-1 {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }
    .order-2 {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3
    }
    .order-3 {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
    .banner-top .navbar ul a {
        padding: 8px 0
    }
    .info-about .info-img {
        width: 92%;
        min-height: 112px
    }
    .info-about .ab1 {
        margin-top: 30px
    }
    .services-block {
        margin-top: 1.5rem
    }
}

@media (max-width:600px) {
    .banner-top .carousel-caption {
        top: 30%
    }
    .banner-top .carousel-caption h5 {
        font-size: 3.2em
    }
    .banner-top .carousel-caption p {
        font-size: .8em;
        padding: .5rem
    }
    .banner-top .slider-top div.b1,
    .banner-top .slider-top div.b2,
    .banner-top .slider-top div.b3 {
        min-height: 425px
    }
    .team h5 {
        font-size: 2.5em
    }
}