* {
	font-family: 'Exo 2', sans-serif;
	color: #595b5c;
}

.description .registr-btn {
	display: inline-block!important;
}
.speaker h2 {
	margin-bottom: 30px;
}
.clear {
	clear: both;
}
.block {
	/*display: block;*/
}
.opportunities {
	/*text-align: center;*/
}
.opportunities .registr-btn {
	text-align: center;
	display: block;
	margin: 0 auto;
}
.navbar a {
	color: #595b5c;
}
.discription .timeline-wrapper {
	margin: 0;
}

.opportunities h2 {
	font-size: 45px;
}
.callback {
	color: #846cb0!important;
	border-bottom: 1px dashed #846cb0;
	padding-bottom: 0;
}
.callback .fa {
	color: #846cb0;
}
#more {display: none;}
footer {
	background: #eff1f1;
}
footer a {
	color: #595b5c;
}
iframe {
	width: 100%;
	height: 350px;
	border: none;
}
#myBtn {
	background: #846cb0;
	color: #fff;
	border: none;
}
.map {
	padding: 70px 0;
}
.map h2 {
	text-align: center;
	margin: 0px 0 50px;
	font-size: 40px;
}
.carousel-inner {
	font-size: 150%;
}
.carousel-inner h5 {
	font-size: 2.25rem;
}
.ms h2 {
	margin: 30px 0;
	text-align: center;
	font-size: 40px;
}
.banner .btn-ms a:nth-of-type(1) {
	background: #846cb0;
	border: 1px solid #846cb0;
	color: #fff;
}
.banner .btn-ms a:nth-of-type(2) {
	background: #fff;
	border: 1px solid #846cb0;
	color: #846cb0;
}
footer .fa,
header .fa {
	font-size: 25px;
}
footer .fa:hover,
header .fa:hover {
	color: #bdbebf;
}

.carousel-caption {
	bottom: 160px;
}
form input[type="submit"] {
	background: #846cb0;
	color: #fff;
	border: none;
	padding: 10px;
}
form label, form input {
	margin-bottom: 10px;
}
.map {
	background: url(../img/bg.png) center no-repeat;
	background-size 100%;
}
.speaker {
	background: url(../img/bg2.png) center no-repeat;
}
header .nav-link:hover,
footer .nav-link:hover {
	color: #846cb0;
}
.opportunities .registr-btn {
	margin-top: 80px;
	border-radius: 25px;
}
.test-span {
	height: 2px;
	width: 40px;
	background: #846cb0;
	display: block;
	margin: 0 auto;
	margin-bottom: 45px;
}
.discription {
	padding: 50px 0;
}
.discription h1 {
	margin-bottom: 45px;
}
.partner {
	padding: 60px 0;
}
.partner h2 {
	text-align: center;
	font-size: 45px;
}
.partner a {
	display: block;
	height: 200px;
	/*width: 100%;*/
	background: url(../img/GUM_logo.jpg) center/contain no-repeat;
}
.partner a:hover {
	background: url(../img/imgonline-com-ua-Black-White-Y0uI3xMVr6c.jpg) center/contain no-repeat;
}